---
- name: openvpn-client
  import_tasks:
    file: openvpn-client.yml

- name: nzbget
  import_tasks:
    file: nzbget.yml

- name: lidarr
  import_tasks:
    file: lidarr.yml

- name: qbittorrent
  import_tasks:
    file: qbittorrent.yml

- name: radarr
  import_tasks:
    file: radarr.yml

- name: sonarr
  import_tasks:
    file: sonarr.yml

- name: samba
  import_tasks:
    file: samba.yml

- name: makemkv
  import_tasks:
    file: makemkv.yml

- name: plex
  import_tasks:
    file: plex.yml

- name: minecraft
  import_tasks:
    file: minecraft.yml

- name: tautulli
  import_tasks:
    file: tautulli.yml

- name: nginx
  import_tasks:
    file: nginx.yml

- name: plex-cleaner
  import_tasks:
    file: plex-cleaner.yml

- name: certbot
  import_tasks:
    file: certbot.yml

- name: plexcleaner
  import_tasks:
    file: plexcleaner.yml

- name: prune
  docker_prune:
    containers: true
    images: true
    volumes: true
